<div id="homescreen">
  <h1>Let's Hang?</h1>

  <div class="players">

    <%= form_tag games_path do %>
      <% @players.each do |p| %>
        <img src="<%= p.url %>" class="player_image">
        <%= radio_button_tag 'player', "#{p.name}" %>
      <% end %>
      <p>I'm feeling...</p>

      <%= submit_tag 'BOOKSMART', class: 'btn btn-info has-popover', type: 'button', data: { toggle: "popover", content: "PLEASE WORK", trigger: 'hover', placement: 'left'} %>
      <%= submit_tag 'STREETSMART', class: 'btn btn-danger' %>
    <% end %>
  </div>

</div>
